@use '@/styles/config/colors';

.button {
  font-size: 1rem;
  transition: all 300ms ease-out;
  color: #001F3F;
  text-align: center;
  line-height: 1;
  background-color : transparent;
  padding: 10px;
  outline: none;
  border: none;
  border: 1px solid colors.$teal;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: colors.$teal;
  }
}

.red {
  border: 1px solid colors.$red;

  &:hover {
    background-color: colors.$red;
  }
}
