.navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 5px;
  padding: 1em;
}

.user__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: clamp(130px, 15%, 150px);
  margin-right: 1em;
}
